* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section-padding {
    padding: 12rem 0;
}

.section-headline {
    font-size: 3.5rem;
    line-height: 52px;
    color: #100F0F;
}

.headline-footer {
    font-size: 2.5rem;
    line-height: 38px;
    color: #403F3F;
}